body {background: #5F6067; margin-left: 2cm}

h1{color: #802B60; font-family: monospace}

h2{color: aliceblue; font-family: sans-serif; margin-top: 50px}

p{color: aliceblue; font-size: 18px}

.img_padrao{width: 500px; margin: 100px}